<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cafe List</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>

<div style="display: flex; flex-direction: row; flex-wrap: wrap">

    {% for article in object_list %}
        <div class="card" style="width: 18rem; margin: 10px">
            <div class="card-body">

                <div style="display: flex; flex-direction: row">
                    <h5 class="card-title">{{ article.name }}</h5>
                </div>
                <h6 class="card-subtitle small mb-2 text-muted ">{{ article.categories }}</h6>
                <h6 class="card-subtitle small mb-2 text-muted ">{{ article.rating_google }}, {{ article.rating }}</h6>
                <p class="card-text text-muted ">Phone: {{ article.phone }}</p>
                <p class="card-text text-muted ">Address: {{ article.address }}</p>
                <p class="card-text text-muted ">City: {{ article.city }}</p>
                <p class="card-text text-muted ">Zip code: {{ article.zip_code }}</p>
                <p class="card-text text-muted ">Latitude: {{ article.latitude }}</p>
                <p class="card-text text-muted ">Longitude: {{ article.longitude }}</p>
                <p class="card-text text-muted ">Tags: {{ article.tags }}</p>
            </div>
            <a href="{{ article.website }}" class="btn btn-primary">Website</a>
        </div>
    {% endfor %}

</div>
{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
</body>
</html>